@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

* {
    margin: 0;
    padding: 0;
    font-family: "Roboto", sans-serif;
}

body {
    background-color: black;
    color: white;
}

.left {
    width: 25vw;
    padding: 10px;
}

.home ul li {
    display: flex;
    list-style: none;
    gap: 15px;
    padding-top: 14px;
    font-weight: bold;
}

.logo {
    width: 90px;
    height: 29px;
}

.library {
    min-height: 74.8vh;
    position: relative;
}

.heading {
    gap: 15px;
    padding-top: 14px;
    padding: 23px 14px;
    font-weight: bold;
    align-items: center;
    font-size: 14px;
}

.footer {
    display: flex;
    font-size: 10px;
    gap: 13px;
    position: absolute;
    bottom: 0;
    padding: 10px 0;
}

.footer a {
    color: grey;
}

.right {
    width: 75vw;
    margin: 16px 0;
    position: relative;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: rgb(34, 34, 34);
}

.header>* {
    padding: 20px;
}

.spotifyPlaylist {
    padding: 16px;
}

.cardContainer {
    display: flex;
    gap: 10px;
    flex-wrap: wrap;
    margin: 20px;
    max-height: 65vh;
    overflow-y: scroll;
}

.card {
    padding: 10px;
    width: 182px;
    /* border: 2px solid white; */
    font-size: 0.9rem;
    border-radius: 7px;
    background-color: #171717;
    position: relative;
}

.card>* {
    padding-top: 10px;
}

.card img {
    width: 100%;
    object-fit: contain;
    aspect-ratio: 1/1;
}

.play {
    width: 2.3rem;
    height: 2rem;
    background-color: #1fdf64;
    border-radius: 50%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    flex-direction: column-reverse;
    position: absolute;
    top: 205px;
    right: 15px;
    opacity: 0;
    transition: all 1s ease-in;
}

.play :hover {
    opacity: 1;
    top: 149px;
}

.buttons>* {
    margin: 0 12px;
}

.signup-btn {
    background-color: rgb(34, 34, 34);
    font-weight: bold;
    border: none;
    outline: none;
    cursor: pointer;
    color: rgb(156, 148, 148);
    font-size: 1rem;
}

.signup-btn:hover {
    font-size: 1.04rem;
    color: white;
}

.login-btn {
    background-color: white;
    color: black;
    border-radius: 3rem;
    padding: 10px;
    border: none;
    cursor: pointer;
    width: 78px;
}

.login-btn:hover {
    font-weight: bold;
    scale: 1.1;
}

.playBar {
    position: fixed;
    bottom: 5px;
    left: 450px;
    background-color: #e6e3e3;
    width: 67vw;
    padding: 12px;
    border-radius: 15px;
    filter: invert(1);
    height: 32px;
}

.seekbar {
    height: 2px;
    width: 98%;
    border-radius: 23px;
    background-color: black;
    position: absolute;
    bottom: 0;
    margin: 6px;
    cursor: pointer;
}

.circle {
    height: 13px;
    width: 13px;
    background-color: black;
    border-radius: 13px;
    position: relative;
    bottom: 6px;
    left: 0%;
    transition: left 0.5s;
}

.aboveBar {
    justify-content: space-between;
}

.songinfo,
.songtime {
    color: black;
    padding: 0 12px;
}

.songbutton {
    display: flex;
    justify-content: center;
    gap: 16px;
}

.songbutton img {
    cursor: pointer;
}

.songList {
    height: 444px;
    overflow: auto;
    margin-bottom: 44px;
}

.songList ul {
    padding: 0 12px;
}

.songList ul li {
    list-style-type: decimal;
    display: flex;
    justify-content: space-between;
    gap: 12px;
    cursor: pointer;
    border: 1px solid white;
    margin: 12px 0;
    padding: 13px;
    border-radius: 5px;
}

.songList .info {
    font-size: 13px;
    width: 344px;
}

.playNow {
    display: flex;
    justify-content: center;
    align-items: center;
}

.playNow span {
    font-size: 13px;
    width: 59px;
    padding: 12px 0;
}

.hamburger {
    display: none;
}

.hambergurContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 13px;
}



/* Media Querry */

@media (max-width: 1220px) {
    .left {
        position: absolute;
        left: -110%;
        transition: all .3s;
        width: 437px;
        z-index: 1;
        background-color: black;
    }

    .close {
        position: absolute;
        right: 29px;
        top: 25px;
        width: 25px;
    }

    .right {
        width: 100vw;
    }

    .playBar {
        width: 96vw;
        left: 50%;
        right: 50%;
        transform: translate(-50%);
    }

    .hamburger {
        display: block;
        width: 40px;
        height: 34px;
    }
}