.border {
    border: 2px solid red;
    margin: 2px;
}

.flex {
    display: flex;
}

.justify-center {
    justify-content: center;
}

.item-center {
    align-items: center;
}

.bg-black {
    background-color: black;
    color: white;
}

.invert {
    filter: invert(1);
}

.bg-grey {
    background-color: #121212;
}

.rounded {
    border-radius: 7px;
}

.m-1 {
    margin: 5px;
}

.p-1 {
    padding: 10px;
}

.icons {
    width: 25px;
    height: 25px;
}

/* For Webkit browsers */
::-webkit-scrollbar {
    width: 10px;
}

/* For Firefox */
scrollbar-width: thin;
scrollbar-color: #333333 #222222;

/* For Webkit browsers */
::-webkit-scrollbar-track {
    background: #222222;
}

/* For Webkit browsers */
::-webkit-scrollbar-thumb {
    background-color: #333333;
    border-radius: 10px;
}

/* For Firefox */
scrollbar-color: #333333 #222222;